/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Oct 9, 2023, 3:20:04 PM
    Author     : Phan Thien
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 90px 50px 1fr 100px;
    height: 100vh;
    overflow: auto;
}
.header{
    display: grid;
    grid-template-columns:300px 1fr;
    grid-column: 1/2;
    grid-row: 1/2;
    grid-template-rows: 90px;
    background-color: rgb(255, 255, 255);
    backdrop-filter: blur(5px);
    border-bottom: 0.5px solid rgb(56, 53, 53);
}
.logo{
    display: flex;
    justify-content: center;
    grid-row: 1/2;
    grid-column: 1/2;
}
.logo img{
    width: 80px;
    height: 80px;
    padding: 10px;
    border-radius: 100%;
}
.logo h2{
    padding: 30px 10px;
}
.navlist{
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.myList{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 50px;
}
navbar{
    grid-row: 2/3;
    grid-column: 1/2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom:  3px solid rgb(56, 53, 53);
}
navbar li{
    margin-left: 150px;
    list-style: none;
    display: table-cell;
    position: relative;
    margin-right: 20px;
}
navbar li a{
    padding: 10px 0;
    font-size: 20px;
    color: black;
    text-decoration: none;
    display: inline-block;
    position: relative;
    font-weight: bold; 
}
navbar li a::after{
    content: "";
    height: 5px;
    width: 0;
    background: rgb(60, 33, 28);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.5s ease-in-out;
}

navbar li a:hover::after{
    width: 50%;
    transform: translateX(100%);
}
#loginBtn{
    background-color: black;
    height: 35px;
    width: 70px;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
    margin-top: -10px;
}
#loginBtn a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 16px;
}
#loginBtn:active{
    background-color: #fff;
}
#signupBtn{
    background-color: whitesmoke;
    height: 35px;
    width: 70px;
    border: none;
    outline: none;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
    margin-top: -10px;
}
#signupBtn a{
    text-decoration: none;
    color: rgb(29, 25, 25);
    font-size: 16px;
}
content{
    display: grid;
    grid-row: 3/4;
    align-items: center;
    justify-content: center;
}
content img{
    max-width: 200px;
    margin-left: 100px;
}
content .content{
    border-top: 5px solid #333;
    display: grid;
    padding: 20px;
    grid-template-columns: 500px 500px;
    margin: 20px;
}
content h3{
    text-align: center;
    margin: 10px;
}
content p{
    font-size: 18px;
}
content a{
    display: flex;
    justify-content: flex-end;
    color: #333;
    text-decoration: none;
    font-size: 20px;
}
content a:hover{
    text-decoration: underline;
}
footer {
    grid-row: 4/5;
    grid-column: 1;
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
  
.contact-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
  
.contact-item {
    flex: 1;
    margin: 10px;
  }
  
h4 {
    font-size: 15px;
  }
  
p {
    font-size: 13px;
    margin: 0;
}