* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 90px 1fr 100px;
    height: 100vh;
    overflow-x: hidden;
}

.header {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-column: 1/2;
    grid-row: 1/2;
    grid-template-rows: 90px;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(5px);
}

.logo {
    display: flex;
    justify-content: center;
    grid-row: 1/2;
    grid-column: 1/2;
}

.logo img {
    width: 80px;
    height: 80px;
    padding: 10px;
    border-radius: 100%;
}

.logo h2 {
    padding: 30px 10px;
}

.navlist {
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.myList {
    display: flex;
    justify-content: flex-end;
    margin-right: 250px;
}

.list li {
    display: inline-flex;
    margin-right: 80px;
    list-style: none;
}

.list li a {
    padding: 10px 0;
    font-size: 20px;
    color: black;
    text-decoration: none;
    display: inline-block;
    position: relative;
    font-weight: bold;
}

.list li a::after {
    content: "";
    height: 5px;
    width: 0;
    background: rgb(132, 6, 6);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.5s ease-in-out;
}

.list li a:hover {
    color: rgb(132, 6, 6);
}

.list li a:hover::after {
    width: 100%;
}
content {
    background-color: #f2f2f2;
    grid-row: 2/3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    max-width: 500px;
    margin: 0 20px;
}

.text h1 {
    color: rgb(234, 83, 83);
    padding-bottom: 20px;
}

.text span {
    color: rgb(80, 78, 78);
}

.text p {
    line-height: 20px;
    font-size: 15px;
}

.loginForm, .signupForm, .forgotForm {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    border-radius: 20px;
    border: 2px solid rgb(49, 49, 49);
    margin: 20px;
    background-color: rgba(251, 247, 247, 0.388);
    backdrop-filter: blur(20px);
    box-shadow: 2px 5px 15px black;
}

.loginForm {
    grid-template-rows: auto auto auto;
    width: 400px;
    height: 60vh;
}

.signupForm {
    grid-template-rows: auto auto auto;
    height: 70vh;
    width: 500px;
}

.forgotForm {
    grid-template-rows: auto auto auto;
    height: 60vh;
    width: 400px;
}

.signup {
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.infoForm {
    border-bottom: 1px solid rgb(72, 71, 71);
    background-color: transparent;
    padding-bottom: 3px;
}
.infoForm #userType {
    background-color: #fff;
    color: #333;
    font-size: 16px;
    height: 35px;
    border: 1px solid #333;
    border-radius: 10px;
    padding: 0 10px;
    cursor: pointer;
    margin: 10px;
}

#userType option {
    color: #333;
    background-color: white;
}

.login {
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputForm {
    grid-column: 1/2;
    grid-row: 2/3;
    display: grid;
    align-items: center;
    justify-content: center;
}

.userForm, .passForm {
    border-bottom: 1px solid rgb(72, 71, 71);
    background-color: transparent;
    padding-bottom: 3px;
}

#user, #pass {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 20px;
    transition: all 0.3s ease;
    margin-left: 5px;
    letter-spacing: 1px;
}

#user::placeholder, #pass::placeholder {
    color: black;
    font-size: 16px;
}

#forgot {
    color: rgb(27, 26, 26);
    font-size: 15px;
}
.forgot{
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loginBtn, #signupBtn {
    background-color: rgb(17, 16, 16);
    color: whitesmoke;
    font-size: 16px;
    height: 35px;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
}
#forgotBtn{
    background-color: black;
    height: 35px;
    width: 70px;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
    margin-top: -10px;
}
#loginBtn a, #signupBtn a, #forgotBtn a {
    text-decoration: none;
    text-transform: uppercase;
    color: whitesmoke;
    position: relative;
    font-weight: bold;
}
#cancelBtn{
    background-color: whitesmoke;
    height: 35px;
    width: 70px;
    border: none;
    outline: none;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
    margin-top: -10px;
}
#cancelBtn a{
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(29, 25, 25);
    position: relative;
    font-weight: bold;
}
#loginBtn a::after, #cancelBtn a::after, #signupBtn a::after, #forgotBtn a::after {
    content: "";
    height: 2px;
    width: 0;
    background: rgb(235, 71, 71);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.5s ease-in-out;
}
#loginBtn a:hover, #cancelBtn a::after, #signupBtn a:hover, #forgotBtn a:hover {
    color: rgb(235, 71, 71);
}

#loginBtn a:hover::after, #cancelBtn a:hover::after, #signupBtn a:hover::after, #forgotBtn a:hover::after {
    width: 100%;
}

.registerLink, .loginLink {
    grid-column: 1/2;
    grid-row: 3/4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.registerLink p, .loginLink p {
    font-size: 16px;
}

#signup, #login {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

#signup:hover, #login:hover {
    text-decoration: underline;
}

.login-google {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-google img {
    max-width: 30px;
    padding-left: 10px;
    cursor: pointer;
}

.signupForm, .forgotForm {
    display: none;
}

footer {
    grid-row: 3/4;
    grid-column: 1;
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.contact-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-item {
    flex: 1;
    margin: 10px;
}

h4 {
    font-size: 15px;
}

p {
    font-size: 13px;
    margin: 0;
}

@media screen and (max-width: 888px) {
    .header {
        grid-template-columns: 1fr;
        grid-template-rows: 90px 1fr 100px;
    }

    .logo {
        justify-content: center;
        text-align: center;
    }

    .navlist {
        justify-content: center;
        margin-right: 0;
    }

    .myList {
        margin-right: 0;
        justify-content: center;
    }

    .list li {
        margin-right: 20px;
    }

    .loginForm, .signupForm, .forgotForm {
        width: 90%;
        max-width: 400px;
    }
}